extends layout
block content
  section(class="hero is-large")
    div(class="hero-body")
      div(class="container has-text-centered has-text-grey")
        h1(class="is-size-1") NOPE!
        p(class="subtitle has-text-grey") Nothing to see here.
        p Why don't you just go -> 
          a(href="/") home?