---
import Layout from "../layouts/Pages.astro";
---

<Layout title="About Mystify">
  <div
    class="hero is-light mb-6"
    style="background-color: rgba(230, 230, 230, 0.5); padding-top: 5rem;"
  >
    <div class="hero-body">
      <div class="content container">
        <h2>About Mystify</h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="line-break content">
      <p class="subtitle">
        <strong
          >Mystify is an anonymous messaging app that lets you send anonymous
          messages to people around the world.</strong
        >
      </p>
      <p>
        The world is massive. And yet, it feels much smaller once you’re
        connected by the internet. Sometimes our only desire is to be heard, by
        someone, somewhere. Someone who doesn’t know you, and wouldn’t judge you
        for who you are.
      </p>
      <p class="subtitle">Share your story with the world</p>
      <p>
        With Mystify, your voice can finally be heard. Using our app, you can
        speak your mind and we will ensure that your message makes it to
        someone. You can also receive messages from anonymous users located
        throughout the world.
      </p>
      <h3 class="subtitle">Our Mission</h3>
      <p>
        We strive to foster communication by offering users a safe place to
        interact anonymously. We prioritize your privacy above all else, as we
        understand that being able to express yourself anonymously allows you to
        be more honest and open than you might be otherwise. Our service only
        collects a minimal amount of your personal data, ensuring that you can’t
        be identified by us or other users.
      </p>
    </div>
  </div>
</Layout>
