---
import Layout from "../layouts/Pages.astro";
---

<Layout title="Terms of Service">
  <div
    class="hero is-light mb-6"
    style="background-color: rgba(230, 230, 230, 0.5); padding-top: 5rem;"
  >
    <div class="hero-body">
      <div class="content container">
        <h2>TERMS OF SERVICE</h2>
        <p>Last updated: 26th January 2021</p>
      </div>
    </div>
  </div>
  <div class="content container section">
    <h3>Welcome to Mystify!</h3>
    <p>
      The Mystify (“Company”, “we”, “our”, “us”)! These Terms of Service
      (“Terms”, “Terms of Service”) govern your use of our web pages located at
      https://mystify.one and our mobile application Mystify (“App”) (together
      or individually “Service”) owned and operated by Mystify Inc.
    </p>
    <p>
      Our Privacy Policy also governs your use of our Service and explains how
      we collect, safeguard and disclose information that results from your use
      of our web pages. Please read it here: https://mystify.one/privacy.
    </p>
    <p>
      The Company provides the Services through our App. By accessing the
      Services through the App, immediately and from your very first access of
      the Services, you unconditionally and irrevocably agree to be bound by
      these Terms and Conditions, all applicable laws and/or regulations and you
      agree that you are responsible for this compliance.
    </p>
    <p>
      Your agreement with us includes these Terms and our Privacy Policy
      (“Agreements”). You acknowledge that you have read and understood
      Agreements, and agree to be bound by them.
    </p>
    <p>
      If you do not agree with (or cannot comply with) Agreements, then you may
      not use the Service. These Terms apply to all visitors, users and others
      who wish to access or use Service.
    </p>
    <p>
      The Company reserves the right to change these Terms and Conditions. These
      changes are effective immediately upon posting. When changes come into
      effect, the revised Terms and Conditions shall supersede the previous
      version of the Terms and Conditions. You are responsible for regularly
      reviewing these Terms and Conditions.
    </p>
    <p>Thank you for being responsible.</p>
    <div>
      <ol>
        <li>
          <strong>ABOUT US</strong>
          <ol>
            <li>
              Mystify is owned and operated by Mystify Inc, registered in the
              State of Delaware, USA, registered office at 501 Silverside Road
              Wilmington, DE 19809
            </li>
            <li>
              Mystify is a mobile application that provides free messaging
              service.
            </li>
            <li>
              Mystify provides a subscription service that allows our members to
              send anonymous messages randomly to other Mystify members.
            </li>
            <li>
              The Company makes the App available (a) on the Website from which
              you can click on a link to download the App, or (b) for download
              directly from Google Play and the Apple App Store.
            </li>
            <li>
              The Company shall make every effort to ensure that Mystify is
              continually available to you.
            </li>
          </ol>
        </li>
        <li>
          <strong>USE OF WEBSITE</strong>
          <ol>
            <li>
              You may not use the Website to transmit, distribute, store or
              destroy any material or information (i) in violation of any
              applicable law or regulation; (ii) in a manner that will infringe
              the copyright, trademark, trade secret or other intellectual
              property rights of any third party or violate the privacy or other
              personal rights of third parties; or (iii) that is defamatory,
              obscene, threatening, abusive or hateful.
            </li>
            <li>
              When accessing the Website, you shall be prohibited from:
              <ol>
                <li>
                  using any robot, spider, other automatic device or manual
                  process to monitor or copy any part of the Website;
                </li>
                <li>
                  using any device, software or the like to interfere or attempt
                  to interfere with the proper functioning of the Website;
                </li>
                <li>
                  taking any action that imposes an unreasonable or
                  disproportionately large data load on the Website
                  infrastructure;
                </li>
                <li>
                  copying, reproducing, altering, modifying, creating derivative
                  works, or publicly displaying any content from the Website
                  without the Company’s prior written consent;
                </li>
                <li>
                  reverse assembling, reverse engineering or otherwise
                  attempting to discover any source code relating to the Website
                  or any tool therein, except to the extent that such activity
                  is expressly permitted by applicable law notwithstanding this
                  limitation; and
                </li>
                <li>
                  attempting to access any area of the Website to which access
                  is not authorised.
                </li>
              </ol>
            </li>
          </ol>
        </li>
        <li>
          <strong>USE OF APP</strong>
          <ol>
            <li>You may access Mystify and the Services via our App.</li>
            <li>
              In order to be able to use the App, you shall (i) download and
              install the App on a mobile device which is compatible with the
              App, as well as (ii) have an Internet connection.
            </li>
            <li>
              You agree that you are solely responsible for meeting the
              aforementioned requirements, which may also (i) bear additional
              charges and fees, and/or (ii) require you to perform software
              updates and/or to comply with the terms and conditions of your
              agreement(s) with your mobile device and telecommunications
              provider.
            </li>
          </ol>
        </li>
        <li>
          <strong>ELIGIBILITY</strong>
          <ol>
            <li>You are at least 13 years of age.</li>
            <li>
              You use the Website and Services according to these Terms and all
              applicable laws and regulations determined by the state and
              country of residence.
            </li>
            <li>
              You provide complete and accurate registration information and
              maintain accurate registration information on the Website.
            </li>
            <li>
              You agree and understand that Mystify may, at any time, and
              without prior notice, revoke and/or cancel your access if you fail
              to meet these criteria or violate any portion of these Terms.
            </li>
          </ol>
        </li>
        <li>
          <strong>COMMUNICATIONS</strong>
          <ol>
            <li>
              By creating an Account on our Service, you agree to subscribe to
              newsletters, marketing or promotional materials and other
              information we may send.
            </li>
            <li>
              You may opt out of receiving any, or all, of these communications
              from us by following the unsubscribe link or by emailing at <strong
                >info@mystify.one</strong
              >.
            </li>
          </ol>
        </li>
        <li>
          <strong>ACCESS AND USE</strong>
          <ol>
            <li>
              You must only use the App in accordance with these Terms and any
              applicable law.
            </li>
            <li>
              You must not (or attempt to):
              <ol>
                <li>
                  Interfere with or disrupt the App or the server or networks
                  that host the Site;
                </li>
                <li>
                  Use data mining, robots, screen scraping or similar data
                  gathering and extraction tools on the Site; or
                </li>
                <li>
                  Interfere with security-related or other features of the App.
                </li>
              </ol>
            </li>
            <li>
              We do not warrant that the App will be available at all times and
              without disruption and we provide no warranties in relation to the
              content of any other website linked to or from our App.
            </li>
            <li>
              You must not link to our App or any part of our App in a way that
              damages or takes advantage of our reputation, including but not
              limited to:
              <ol>
                <li>
                  In a way to suggest or imply that you have any kind of
                  association and affiliation with us, or approval and
                  endorsement from us when there is none; or
                </li>
                <li>In a way that is illegal or unfair.</li>
              </ol>
            </li>
          </ol>
        </li>
        <li>
          <strong>PROHIBITED USES</strong>
          <ol>
            <li>
              You may use Service only for lawful purposes and in accordance
              with Terms. You agree not to use Service:
              <ol>
                <li>
                  In any way that violates any applicable national or
                  international law or regulation.
                </li>
                <li>
                  For the purpose of exploiting, harming, or attempting to
                  exploit or harm minors in any way by exposing them to
                  inappropriate content or otherwise.
                </li>
                <li>
                  To transmit, or procure the sending of, any advertising or
                  promotional material, including any “junk mail”, “chain
                  letter,” “spam,” or any other similar solicitation.
                </li>
                <li>
                  To impersonate or attempt to impersonate the Company, the
                  Company employee, another user, or any other person or entity.
                </li>
                <li>
                  In any way that infringes upon the rights of others, or in any
                  way is illegal, threatening, fraudulent, or harmful, or in
                  connection with any unlawful, illegal, fraudulent, or harmful
                  purpose or activity.
                </li>
                <li>
                  To engage in any other conduct that restricts or inhibits
                  anyone’s use or enjoyment of Service, or which, as determined
                  by us, may harm or offend the Company or users of Service or
                  expose them to liability.
                </li>
              </ol>
            </li>
            <li>
              Additionally, you agree not to:
              <ol>
                <li>
                  Use Service in any manner that could disable, overburden,
                  damage, or impair Service or interfere with any other party’s
                  use of Service, including their ability to engage in real time
                  activities through Service.
                </li>
                <li>
                  Use any robot, spider, or other automatic device, process, or
                  means to access Service for any purpose, including monitoring
                  or copying any of the material on Service.
                </li>
                <li>
                  Use any manual process to monitor or copy any of the material
                  on Service or for any other unauthorized purpose without our
                  prior written consent.
                </li>
                <li>
                  Use any device, software, or routine that interferes with the
                  proper working of Service.
                </li>
                <li>
                  Introduce any viruses, trojan horses, worms, logic bombs, or
                  other material which is malicious or technologically harmful.
                </li>
                <li>
                  Attempt to gain unauthorized access to, interfere with,
                  damage, or disrupt any parts of Service, the server on which
                  Service is stored, or any server, computer, or database
                  connected to Service.
                </li>
                <li>
                  Attack Service via a denial-of-service attack or a distributed
                  denial-of-service attack.
                </li>
                <li>
                  Take any action that may damage or falsify the Company rating.
                </li>
                <li>
                  Otherwise attempt to interfere with the proper working of
                  Service.
                </li>
              </ol>
            </li>
          </ol>
        </li>
        <li>
          <strong>ACCOUNTS</strong>
          <ol>
            <li>
              When you create an account with us, you guarantee that you are
              above the age of 14, and that the information you provide us is
              accurate, complete, and current at all times. Inaccurate,
              incomplete, or obsolete information may result in the immediate
              termination of your account on Service.
            </li>
            <li>
              You are responsible for maintaining the confidentiality of your
              account and password, including but not limited to the restriction
              of access to your computer and/or account.
            </li>
            <li>
              You agree to accept responsibility for any and all activities or
              actions that occur under your account and/or password, whether
              your password is with our Service or a third-party service.
            </li>
            <li>
              You must notify us immediately upon becoming aware of any breach
              of security or unauthorized use of your account.
            </li>
            <li>
              You may not use as a username the name of another person or entity
              or that is not lawfully available for use, a name or trademark
              that is subject to any rights of another person or entity other
              than you, without appropriate authorization.
            </li>
            <li>
              You may not use as a username any name that is offensive, vulgar
              or obscene.
            </li>
            <li>
              We reserve the right to refuse service, terminate accounts, remove
              or edit content, or cancel orders in our sole discretion.
            </li>
          </ol>
        </li>
        <li>
          <strong>REGISTRATION, LOGIN CREDENTIALS AND SECURITY</strong>
          <ol>
            <li>
              In order to be able to make use of and access the Services and
              App, you shall register on the App by providing the Company with
              all required information which includes but is not limited to your
              full name, business name, address and contact information.
            </li>
            <li>
              You agree to (i) provide true, accurate, current and complete
              information about yourself as prompted by the sign-up process; and
              (ii) maintain and promptly update the information provided during
              registration to keep it true, accurate, current, and complete.
            </li>
            <li>
              Each Mystify account can be accessed by its/his/her holder via the
              App (“<strong>Account</strong>”).
            </li>
            <li>
              If you provide any information to the Company that is untrue,
              inaccurate, outdated or incomplete, or if we have reasonable
              grounds to suspect that such information is untrue, inaccurate,
              outdated or incomplete, we may terminate your Account with us and
              refuse current or future use of any or all of the Services and
              Mystify.
            </li>
            <li>
              When registering an Account, if you are registering with the
              Company as a customer, you may provide the Company with your
              choice of Account password and username (“<strong
                >Login Credentials</strong
              >”).
            </li>
            <li>
              If you are registering an Account with us as a merchant, Login
              Credentials shall be provided to you by the Company.
            </li>
            <li>
              You hereby:
              <ol>
                <li>
                  acknowledge and agree that you are solely responsible for
                  maintaining the confidentiality of your Login Credentials and
                  for any and all activities that occur under your account;
                </li>
                <li>
                  agree to notify the Company immediately of any unauthorized
                  use of your account or of any other breach of security. The
                  Company shall not be liable for any loss that you may incur as
                  a result of any third party using your Login Credentials or
                  Account, either with or without your knowledge. However, you
                  may be held liable for losses incurred by the Company as a
                  result of a third party using your Account or Login
                  Credentials.
                </li>
                <li>
                  acknowledge and agree that you may not use anyone else's
                  Account at any time, without the express permission of such
                  account holder.
                </li>
              </ol>
            </li>
          </ol>
        </li>
        <li>
          <strong>SAFETY</strong>
          <ol>
            <li>
              Users will not (nor assist others to) violate any applicable law,
              contract, intellectual property, or other third-party right, and
              User is solely responsible for its conduct while using our
              Services.
            </li>
            <li>
              User must not directly, indirectly, or through automated or other
              means:
              <ol>
                <li>
                  engage in any harassing, threatening, intimidating, predatory,
                  or stalking conduct;
                </li>
                <li>
                  use or attempt to use another user’s account without prior
                  authorization from that user and Mystify;
                </li>
                <li>
                  impersonate or register on behalf of any person or entity or
                  otherwise misrepresent your affiliation with a person or
                  entity, perpetrate fraud, or publish falsehoods or misleading
                  statements;
                </li>
                <li>
                  collect information of or about other users in any
                  impermissible or unauthorized manner;
                </li>
                <li>
                  use our Services other than for their intended purpose or
                  interfere with, disrupt, negatively affect, or inhibit other
                  users;
                </li>
                <li>damage, disable, overburden, or impair our Services;</li>
                <li>
                  send, distribute, or post spam, unsolicited electronic
                  communications, chain letters, pyramid schemes, or illegal or
                  impermissible communications;
                </li>
                <li>
                  post, upload, or share any content which is unlawful,
                  libelous, defamatory, obscene, pornographic, indecent, lewd,
                  suggestive, harassing, threatening, invasive of privacy or
                  publicity rights, abusive, inflammatory, fraudulent, or is in
                  our sole judgment objectionable;
                </li>
                <li>
                  encourage or provide instructions for a criminal offense;
                </li>
                <li>
                  distribute any viruses, corrupted data, or other harmful,
                  disruptive, or destructive files or content;
                </li>
                <li>
                  bypass, ignore, or circumvent instructions in our robots.txt
                  file or any measures we employ to prevent or limit access to
                  any part of our Services, including content-filtering
                  techniques; or
                </li>
                <li>
                  expose Mystify or others to any type of harm or liability.
                </li>
              </ol>
            </li>
            <li>
              Mystify users may block other users, mark user’s messages as spam,
              or notify Mystify that the user is otherwise violating our terms
              and policies. Mystify will then take appropriate action, which
              could result in Mystify suspending or terminating the user's use
              of our Services.
            </li>
            <li>
              When you receive unwanted communication from another person, it's
              recommended that you block that person and end any communication.
            </li>
            <li>
              Specifically, this will prevent that person from following you or
              searching for your profile.
            </li>
            <li>When you block someone, we don't notify them.</li>
          </ol>
        </li>
        <li>
          <strong>ANALYTICS</strong>
          <ol>
            <li>
              We may use third-party Service Providers to monitor and analyze
              the use of our Service.
            </li>
            <li>
              <strong>Google Analytics</strong>
              <ol>
                <li>
                  Google Analytics is a web analytics service offered by Google
                  that tracks and reports website traffic. Google uses the data
                  collected to track and monitor the use of our Service. This
                  data is shared with other Google services. Google may use the
                  collected data to contextualize and personalize the ads of its
                  own advertising network.
                </li>
              </ol>
            </li>
            <li>
              For more information on the privacy practices of Google, please
              visit the Google Privacy Terms web page:
              https://policies.google.com/privacy?hl=en_US
            </li>
            <li>
              We also encourage you to review the Google's policy for
              safeguarding your data:
              https://policies.google.com/privacy?hl=en_US
            </li>
          </ol>
        </li>
        <li>
          <strong>NO USE BY MINORS</strong>
          <ol>
            <li>
              Service is intended only for access and use by individuals at
              least (13) years old. By accessing or using any of the Company,
              you warrant and represent that you are at least (13) years of age
              and with the full authority, right, and capacity to enter into
              this agreement and abide by all of the terms and conditions of
              Terms. If you are not at least (13) years old, you are prohibited
              from both the access and usage of Service.
            </li>
          </ol>
        </li>
        <li>
          <strong>NINTELLECTUAL PROPERTY</strong>
          <ol>
            <li>
              Service and its original content (excluding Content provided by
              users), features and functionality are and will remain the
              exclusive property of Mystify and its licensors.
            </li>
            <li>
              Service is protected by copyright, trademark, and other laws of
              the State of Delaware.
            </li>
            <li>
              Our trademarks and trade dress may not be used in connection with
              any product or service without the prior written consent of
              Mystify.
            </li>
            <li>
              All code, text, software, scripts, graphics, files, photos,
              images, logos, and materials contained on this website, our
              applications, or within the services, are the sole property of
              Mystify.
            </li>
            <li>
              Unauthorized use of any materials contained on this Website, our
              applications or within the Service may violate copyright laws,
              trademark laws, the laws of privacy and publicity, and/or other
              regulations and statutes. If you believe that any of the materials
              infringe on any third party's rights, please contact Mystify
              immediately at: <strong>info@mystify.one</strong>
            </li>
            <li>
              All content, trademarks, data, information or information
              contained in any materials, or documents used in relation to the
              Company and the Services, including but not limited to any and all
              copyrighted works, software, databases, text, graphics, icons,
              designs, logos, graphics, hyperlinks, domain names, information
              and agreements (“<strong>Content</strong>”), are the exclusive
              property of or are licensed to the Company. You may not reproduce,
              distribute or copy the Content by any means, whether
              electronically or not, without the Company’s prior written
              permission.
            </li>
            <li>
              Any and all intellectual property rights in the Content, Services
              and the Company or otherwise developed by or on behalf of the
              Company, including all patents, rights in inventions, rights in
              designs, trademarks, trade and business names and all associated
              goodwill, rights to sue for passing off or for unlawful
              competition, copyright, moral rights and related rights, rights in
              databases, topography rights, domain names, rights in information
              (including know how and trade secrets) and all other similar or
              equivalent rights existing in the Content, Services and the
              Company or otherwise developed by or on behalf of the Company, now
              or in the future in any part of the world, in each case whether
              registered or unregistered and including all applications for, and
              renewals or extensions of, such rights for their full term (“<strong
                >Intellectual Property</strong
              >”), vests in the Company, its licensors or suppliers, as the case
              may be, and all rights not expressly granted by the Company to you
              are reserved by the Company.
            </li>
            <li>
              Save as expressly set out herein and in the Contracts, you shall
              not acquire any right, title or interest in the Company’s
              Intellectual Property. You may not use the Company’s Intellectual
              Property in a manner which may (i) place the Company’s
              Intellectual Property at risk of losing value, and (ii) cause
              reputational damage to the Company.
            </li>
          </ol>
        </li>
        <li>
          <strong>LICENSES</strong>
          <ol>
            <li>
              <strong>Your Rights.</strong> Mystify does not claim ownership of the
              information that you submit for your Mystify account or through our
              Services. You must have the necessary rights to such information that
              you submit for your Mystify account or through our Services and the
              right to grant the rights and licenses in our Terms.
            </li>
            <li>
              <strong>Mystify’s Rights.</strong> We own all copyrights, trademarks,
              domains, logos, trade dress, trade secrets, patents, and other intellectual
              property rights associated with our Services. You may not use our copyrights,
              trademarks, domains, logos, trade dress, patents, and other intellectual
              property rights unless you have our express permission.
            </li>
            <li>
              <strong>Your License to Mystify.</strong> In order to operate and provide
              our Services, you grant Mystify a worldwide, non-exclusive, royalty-free,
              sublicensable, and transferable license to use, reproduce, distribute,
              create derivative works of, display, and perform the information (including
              the content) that you upload, submit, store, send, or receive on or
              through our Services. The rights you grant in this license are for
              the limited purpose of operating and providing our Services (such as
              to allow us to display your profile picture and status message, transmit
              your messages, store your undelivered messages on our servers for up
              to 30 days as we try to deliver them, and otherwise as described in
              our Privacy Policy).
            </li>
            <li>
              <strong>Mystify’s License to You.</strong> We grant you a limited,
              revocable, non-exclusive, non-sublicensable, and non-transferable license
              to use our Services, subject to and in accordance with our Terms. This
              license is for the sole purpose of enabling you to use our Services,
              in the manner permitted by our Terms. No licenses or rights are granted
              to you by implication or otherwise, except for the licenses and rights
              expressly granted to you.
            </li>
          </ol>
        </li>
        <li>
          <strong>ERROR REPORTING AND FEEDBACK</strong>
          <ol>
            <li>
              You may provide us either directly at
              <strong>info@mystify.one</strong> or via third party sites and tools
              with information and feedback concerning errors, suggestions for improvements,
              ideas, problems, complaints, and other matters related to our Service
              (“<strong>Feedback</strong>”). You acknowledge and agree that: (i)
              you shall not retain, acquire or assert any intellectual property
              right or other right, title or interest in or to the Feedback;
              (ii) the Company may have development ideas similar to the
              Feedback; (iii) Feedback does not contain confidential information
              or proprietary information from you or any third party; and (iv)
              the Company is not under any obligation of confidentiality with
              respect to the Feedback. In the event the transfer of the
              ownership to the Feedback is not possible due to applicable
              mandatory laws, you grant the Company and its affiliates an
              exclusive, transferable, irrevocable, free-of-charge,
              sub-licensable, unlimited and perpetual right to use (including
              copy, modify, create derivative works, publish, distribute and
              commercialize) Feedback in any manner and for any purpose.
            </li>
            <li>
              The third party sites and tools mentioned above include the
              following:
            </li>
            <li>
              <strong>Sentry</strong>
              <ol>
                <li>
                  Sentry is an open-source error tracking solution provided by
                  Functional Software Inc. More information is available here:
                  https://sentry.io
                </li>
              </ol>
            </li>
          </ol>
        </li>
        <li>
          <strong>LINKS TO OTHER WEBSITES</strong>
          <ol>
            <li>
              Our Service may contain links to third party web sites or services
              that are not owned or controlled by Mystify.
            </li>
            <li>
              Mystify has no control over, and assumes no responsibility for the
              content, privacy policies, or practices of any third party web
              sites or services. We do not warrant the offerings of any of these
              entities/individuals or their websites.
            </li>
            <li>
              YOU ACKNOWLEDGE AND AGREE THAT MYSTIFY SHALL NOT BE RESPONSIBLE OR
              LIABLE, DIRECTLY OR INDIRECTLY, FOR ANY DAMAGE OR LOSS CAUSED OR
              ALLEGED TO BE CAUSED BY OR IN CONNECTION WITH USE OF OR RELIANCE
              ON ANY SUCH CONTENT, GOODS OR SERVICES AVAILABLE ON OR THROUGH ANY
              SUCH THIRD PARTY WEB SITES OR SERVICES.
            </li>
            <li>
              WE STRONGLY ADVISE YOU TO READ THE TERMS OF SERVICE AND PRIVACY
              POLICIES OF ANY THIRD PARTY WEB SITES OR SERVICES THAT YOU VISIT.
            </li>
          </ol>
        </li>
        <li>
          <strong>DISCLAIMER OF WARRANTY</strong>
          <ol>
            <li>
              THESE SERVICES ARE PROVIDED BY THE COMPANY ON AN “AS IS” AND “AS
              AVAILABLE” BASIS. THE COMPANY MAKES NO REPRESENTATIONS OR
              WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED, AS TO THE OPERATION OF
              THEIR SERVICES, OR THE INFORMATION, CONTENT OR MATERIALS INCLUDED
              THEREIN. YOU EXPRESSLY AGREE THAT YOUR USE OF THESE SERVICES,
              THEIR CONTENT, AND ANY SERVICES OR ITEMS OBTAINED FROM US IS AT
              YOUR SOLE RISK.
            </li>
            <li>
              NEITHER THE COMPANY NOR ANY PERSON ASSOCIATED WITH THE COMPANY
              MAKES ANY WARRANTY OR REPRESENTATION WITH RESPECT TO THE
              COMPLETENESS, SECURITY, RELIABILITY, QUALITY, ACCURACY, OR
              AVAILABILITY OF THE SERVICES. WITHOUT LIMITING THE FOREGOING,
              NEITHER THE COMPANY NOR ANYONE ASSOCIATED WITH THE COMPANY
              REPRESENTS OR WARRANTS THAT THE SERVICES, THEIR CONTENT, OR ANY
              SERVICES OR ITEMS OBTAINED THROUGH THE SERVICES WILL BE ACCURATE,
              RELIABLE, ERROR-FREE, OR UNINTERRUPTED, THAT DEFECTS WILL BE
              CORRECTED, THAT THE SERVICES OR THE SERVER THAT MAKES IT AVAILABLE
              ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS OR THAT THE
              SERVICES OR ANY SERVICES OR ITEMS OBTAINED THROUGH THE SERVICES
              WILL OTHERWISE MEET YOUR NEEDS OR EXPECTATIONS.
            </li>
            <li>
              THE COMPANY HEREBY DISCLAIMS ALL WARRANTIES OF ANY KIND, WHETHER
              EXPRESS OR IMPLIED, STATUTORY, OR OTHERWISE, INCLUDING BUT NOT
              LIMITED TO ANY WARRANTIES OF MERCHANTABILITY, NON-INFRINGEMENT,
              AND FITNESS FOR PARTICULAR PURPOSE.
            </li>
            <li>
              THE FOREGOING DOES NOT AFFECT ANY WARRANTIES WHICH CANNOT BE
              EXCLUDED OR LIMITED UNDER APPLICABLE LAW.
            </li>
          </ol>
        </li>
        <li>
          <strong>LIMITATION OF LIABILITY</strong>
          <ol>
            <li>
              EXCEPT AS PROHIBITED BY LAW, YOU WILL HOLD US AND OUR OFFICERS,
              DIRECTORS, EMPLOYEES, AND AGENTS HARMLESS FOR ANY INDIRECT,
              PUNITIVE, SPECIAL, INCIDENTAL, OR CONSEQUENTIAL DAMAGE, HOWEVER IT
              ARISES (INCLUDING ATTORNEYS' FEES AND ALL RELATED COSTS AND
              EXPENSES OF LITIGATION AND ARBITRATION, OR AT TRIAL OR ON APPEAL,
              IF ANY, WHETHER OR NOT LITIGATION OR ARBITRATION IS INSTITUTED),
              WHETHER IN AN ACTION OF CONTRACT, NEGLIGENCE, OR OTHER TORTIOUS
              ACTION, OR ARISING OUT OF OR IN CONNECTION WITH THIS AGREEMENT,
              INCLUDING WITHOUT LIMITATION ANY CLAIM FOR PERSONAL INJURY OR
              PROPERTY DAMAGE, ARISING FROM THIS AGREEMENT AND ANY VIOLATION BY
              YOU OF ANY FEDERAL, STATE, OR LOCAL LAWS, STATUTES, RULES, OR
              REGULATIONS, EVEN IF THE COMPANY HAS BEEN PREVIOUSLY ADVISED OF
              THE POSSIBILITY OF SUCH DAMAGE. EXCEPT AS PROHIBITED BY LAW, IF
              THERE IS LIABILITY FOUND ON THE PART OF THE COMPANY, IT WILL BE
              LIMITED TO THE AMOUNT PAID FOR THE PRODUCTS AND/OR SERVICES, AND
              UNDER NO CIRCUMSTANCES WILL THERE BE CONSEQUENTIAL OR PUNITIVE
              DAMAGES.
            </li>
          </ol>
        </li>
        <li>
          <strong>TERMINATION</strong>
          <ol>
            <li>
              We may terminate or suspend your account and bar access to Service
              immediately, without prior notice or liability, under our sole
              discretion, for any reason whatsoever and without limitation,
              including but not limited to a breach of Terms.
            </li>
            <li>
              If you wish to terminate your account, you may simply discontinue
              using Service.
            </li>
            <li>
              All provisions of Terms which by their nature should survive
              termination shall survive termination, including, without
              limitation, ownership provisions, warranty disclaimers, indemnity
              and limitations of liability.
            </li>
          </ol>
        </li>
        <li>
          <strong>GOVERNING LAW</strong>
          <ol>
            <li>
              These Terms shall be governed and construed in accordance with the
              laws of the State of Delaware without regard to its conflict of
              law provisions.
            </li>
            <li>
              Our failure to enforce any right or provision of these Terms will
              not be considered a waiver of those rights. If any provision of
              these Terms is held to be invalid or unenforceable by a court, the
              remaining provisions of these Terms will remain in effect.
            </li>
            <li>
              These Terms constitute the entire agreement between us regarding
              our Service and supersede and replace any prior agreements we
              might have had between us regarding Service.
            </li>
            <li>
              Each party irrevocably agrees that the courts of the State of
              Delaware shall have exclusive jurisdiction to settle any dispute
              or claim arising out of or in connection with this agreement or
              its subject matter or formation (including non-contractual
              disputes or claims).
            </li>
            <li>
              Notwithstanding the specified agreement on jurisdiction, you and
              the Company shall, if any dispute arises, attempt to settle it by
              mutual negotiations.
            </li>
          </ol>
        </li>
        <li>
          <strong>CHANGES TO SERVICE</strong>
          <ol>
            <li>
              We reserve the right to withdraw or amend our Service, and any
              service or material we provide via Service, in our sole discretion
              without notice.
            </li>
            <li>
              We will not be liable if for any reason all or any part of Service
              is unavailable at any time or for any period.
            </li>
            <li>
              From time to time, we may restrict access to some parts of
              Service, or the entire Service, to users, including registered
              users.
            </li>
          </ol>
        </li>
        <li>
          <strong>AMENDMENTS TO TERMS</strong>
          <ol>
            <li>
              We may amend Terms at any time by posting the amended terms on
              this site. It is your responsibility to review these Terms
              periodically.
            </li>
            <li>
              Your continued use of the Platform following the posting of
              revised Terms means that you accept and agree to the changes.
            </li>
            <li>
              You are expected to check this page frequently so you are aware of
              any changes, as they are binding on you.
            </li>
            <li>
              By continuing to access or use our Service after any revisions
              become effective, you agree to be bound by the revised terms.
            </li>
            <li>
              If you do not agree to the new terms, you are no longer authorized
              to use Service.
            </li>
          </ol>
        </li>
        <li>
          <strong>INDEMNITY</strong>
          <ol>
            <li>
              You agree to indemnify, defend and hold harmless us and our
              related entities, affiliates, and our and their respective
              officers, agents, and employees, harmless from and against any and
              all claims demands (actual, special and consequential) of every
              kind and nature, known and unknown, including reasonable legal
              fees, made by any third party due to or arising out of your breach
              of these terms or your breach of any law or the right of third
              party.
            </li>
          </ol>
        </li>
        <li>
          <strong>WAIVER AND SEVERABILITY</strong>
          <ol>
            <li>
              No waiver by the Company of any term or condition set forth in
              Terms shall be deemed a further or continuing waiver of such term
              or condition or a waiver of any other term or condition, and any
              failure of the Company to assert a right or provision under Terms
              shall not constitute a waiver of such right or provision.
            </li>
            <li>
              If any provision of Terms is held by a court or other tribunal of
              competent jurisdiction to be invalid, illegal or unenforceable for
              any reason, such provision shall be eliminated or limited to the
              minimum extent such that the remaining provisions of Terms will
              continue in full force and effect.
            </li>
          </ol>
        </li>
        <li>
          <strong>ACKNOWLEDGEMENT </strong>
          <ol>
            <li>
              BY USING SERVICE OR OTHER SERVICES PROVIDED BY US, YOU ACKNOWLEDGE
              THAT YOU HAVE READ THESE TERMS OF SERVICE AND AGREE TO BE BOUND BY
              THEM.
            </li>
          </ol>
        </li>
        <li>
          <strong>CONTACT US</strong>
          <ol>
            <li>
              For more information about our Term and Conditions, if you have
              questions, or if you would like to make a complaint, please send
              your feedback, comments, requests for technical support: by email: <strong
                >info@mystify.one</strong
              >.
            </li>
          </ol>
        </li>
      </ol>
    </div>
  </div>
</Layout>
