---

---

<footer class="footer" style="background: transparent;">
  <div class="content has-text-centered">
    <p>
      <strong
        >Mystify Inc <span>®</span></strong
      >
      <br />
      <a
       
        target="_blank"
        href="https://twitter.com/mystify_one"
        class="is-link"
        ><span class="icon is-medium"
          ><span class="icon" style="color: purple;"
            ><i class="mdi mdi-twitter mdi-24px"></i></span
          ></span
        ></a
      >
      <a
       
        target="_blank"
        href="https://instagram.com/mystify_one"
        class="is-primary"
        ><span class="icon is-medium"
          ><span class="icon" style="color: purple;"
            ><i class="mdi mdi-instagram mdi-24px"></i></span
          ></span
        ></a>
    </p>
  </div>
</footer>
