---
import { Image } from "astro:assets";
import Mystify from "../assets/images/mystify.png";
---

<nav
	class="navbar is-transparent"
	role="navigation"
	aria-label="main navigation"
>
	<div class="container">
		<div class="navbar-brand">
			<a class="navbar-item" href="/">
				<figure class="image">
					<Image src={Mystify} alt="Mystify" loading="eager" />
				</figure>
			</a>

			<a
				role="button"
				class="navbar-burger"
				aria-label="menu"
				aria-expanded="false"
				data-target="navbarBasicExample"
			>
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
			</a>
		</div>

		<div id="navbarBasicExample" class="navbar-menu">
			<div class="navbar-end">
				<a class="navbar-item" href="/"> home </a>
				<!-- <a class="navbar-item" href="/about"> about </a>
				<a class="navbar-item" href="/terms"> terms </a>
				<a class="navbar-item" href="/privacy"> privacy </a> -->
			</div>
		</div>
	</div>
</nav>
